@font-face {
  font-family: 'Fira Code';
  src: url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/eot/FiraCode-Regular.eot') format('embedded-opentype'),
  url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Regular.woff2') format('woff2'),
  url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Regular.woff') format('woff'),
  url('https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

blockquote {
  border-left: #46C6AC 4px solid;
  margin-left: 0;
  padding: .5em 1em .5em 2em;
  background-color: #46c6ac1f;
  margin-right: 0;
  border-radius: .2em;
}

code {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Fira Code', monospace;
}

.highlighter-rouge {
  background-color: #272822 !important;
}

@import "base16-monakai-dark";
@import "scrollbar";